{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>CS 122A HW3 Search</h1>
    <p class="lead"> Currently assuming that lowercase/Uppsercas doesn't matter (Lowercasing input) <br/>
       Example: "shaping" or "the" or like "sHaPiNg" or "tHe" <br/>
       If nothing returned then that means no results* <br/>
       Currently set to only work for ONE word
    </p>
    
    <!-- <p>Currently Down because Nasdaq has updated their site. Will update this</p> -->
    <!--{% if session.logged_in == NULL %} -->
      <body>
    
  
          <form action="/output" method="post">
               
               <textarea rows="4" cols="50" type="text" name="query"></textarea>
                <p></p>
               <button>Submit</button>
          </form>
      
        </body>
     <p></p>
    {% endif %}
  </div>
{% endblock %}
